.CheckOutSummary {
    text-align: center;
    box-sizing: border-box;
    width: auto;
    margin: auto;
}

.BurgerContainer {
    width: 60%;
    margin: auto;
    height: 100%;
    margin-top: 10%;
}

